# ─── Maven / Java ─────────────────────────────────────────────────────────────
**/target/
*.class
*.jar
*.war

# ─── IDE ──────────────────────────────────────────────────────────────────────
.idea/
*.iml
.vscode/
*.swp

# ─── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Logs ─────────────────────────────────────────────────────────────────────
*.log
logs/

# ─── Variables de entorno ─────────────────────────────────────────────────────
.env
.env.*

# ─── Terraform ────────────────────────────────────────────────────────────────
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars.local
